node_modules
npm-debug.log*
.env
.env.*
tests
logs
uploads
config/email.config.json
cookies.txt
cookies2.txt
*.md
.git
.gitignore
.dockerignore
.vscode
coverage
*.test.js
jest.config.js
